<!--Footer-->
<div class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <p class="navbar-text pull-left">The wedding site</p>
    <a href="http://www.nu.nl" class="navbar-btn btn-danger btn pull-right">Lees meer</a>
  </div>
</div>